:root {
	--white: #fff;
	--black: #222;
	--pink: rgb(11, 22, 32);
	--grey: #444;
	--grey2: #959595;
	--grey-alt: #d1e2e9;
	--yellow: #ffd800;
	--green: #59b210;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	position: relative;
	font-family: "Poppins", sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	color: var(--black);
	background-color: var(--white);
	z-index: -1;
}

li,
ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.container {
	max-width: 114rem;
	margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
	.container {
		padding: 0 3rem;
	}
}
@media only screen and (max-width: 1200px) {
	.container {
		padding: 0 5rem;
	}
}

.loader {
	height: 100vh;
	width: 100vw;
	background: url("./images/loader.svg") center/30rem no-repeat fixed;
}

#pre-loader.hide {
	opacity: 0;
	pointer-events: none;
}

@media only screen and (max-width: 567px) {
	.loader {
		background-size: 20rem;
	}
}

/* Header */

.adverts {
	line-height: 3rem;
	height: 3rem;
	background-color: #5d6d7e;
	text-align: center;
	color: var(--white);
	font-weight: 500;
}
.advert {
	line-height: 3rem;
	height: 3rem;
	background-color: var(--pink);
	text-align: right;
	color: var(--white);
	font-weight: 500;
}
.log {
	margin: 30px;
	color: white;
}
.log:hover {
	color: var(--black);
}
.cart {
	margin-right: 60px;
	color: white;
}
.cart:hover {
	color: var(--black);
}

.navigation {
	padding: 1.6rem 0;
}

.nav-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-top {
	display: none;
}

.logo {
	color: var(--black);
}

.logo span {
	color: var(--pink);
}

.nav-list {
	display: flex;
	align-items: center;
}

.fix-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1200;
	background-color: var(--white);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.nav-item:not(:last-child) {
	margin-right: 0.5rem;
}

.nav-item {
	padding: 0 1rem;
}

.nav-link {
	position: relative;
	display: inline-block;
	padding: 0.5rem 0 0.2rem;
	font-size: 1.5rem;
	color: var(--black);
	text-transform: uppercase;
	transition: all 500ms ease-in-out;
}

.nav-link::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	top: 100%;
	left: 0;
	background: var(--pink);
	transition: transform 0.5s;
	transform: scaleX(0);
	transform-origin: right;
}
.nav-link:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.nav-icons span:not(:last-child) {
	margin-right: 0.5rem;
}

.nav-icons span {
	font-size: 1.6rem;
	border-radius: 50%;
	border: 1px solid var(--grey);
	padding: 0.3rem 0.7rem;
	cursor: pointer;
	transition: all 300ms ease-in-out;
}

.nav-icons span:hover {
	background-color: var(--pink);
}

.nav-icons .fas {
	transition: all 300ms ease-in-out;
}

.nav-icons span:hover .fas {
	color: var(--white);
}

.hamburger {
	display: none;
}

@media only screen and (max-width: 996px) {
	.nav-item:not(:last-child) {
		margin-right: 0.3rem;
	}

	.nav-item {
		padding: 0 0.5rem;
	}

	.nav-link {
		font-size: 1.4rem;
	}

	.nav-icons span {
		font-size: 1.2rem;
		padding: 0.3rem 0.7rem;
	}
}

@media only screen and (max-width: 768px) {
	.navigation.show {
		background-color: rgba(0, 0, 0, 0.6);
	}
	.nav-menu {
		position: fixed;
		top: 0;
		left: -100%;
		width: 80%;
		height: 100vh;
		z-index: 9990;
		background-color: var(--white);
		transition: all 500ms linear;
	}

	.nav-menu.show {
		left: 0;
	}

	.nav-list {
		flex-direction: column;
		align-items: start;
		padding: 2rem 0;
	}

	.nav-menu .logo h1 {
		font-size: 1.8rem;
		font-weight: 500;
		color: var(--white);
	}

	.nav-menu .logo h1 span {
		color: var(--white);
	}

	.nav-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--pink);
		padding: 1.6rem 2rem;
	}

	.hamburger {
		display: block;
		font-size: 2.5rem;
		cursor: pointer;
	}

	.close {
		font-size: 2rem;
		color: var(--white);
		cursor: pointer;
	}

	.nav-item {
		width: 100%;
		padding: 0;
	}

	.nav-item:not(:last-child) {
		margin-bottom: 1rem;
	}

	.nav-link {
		font-size: 1.8rem;
		width: 100%;
		padding: 1rem 2rem;
	}

	.nav-icons span {
		display: none;
		border: none;
		font-size: 1.6rem;
	}

	.nav-icons span:last-child {
		display: block;
	}

	body.show::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 999;
	}
}

/* ======= Popup ======== */
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999999;
	transition: 0.3s;
	transform: scale(0.2);
	opacity: 0;
	visibility: hidden;
}

.popup.show {
	transform: scale(1);
	opacity: 1;
	visibility: visible;
}

.popup-content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	margin: 0 auto;
	height: 55rem;
	transform: translate(-50%, -50%);
	padding: 1.6rem;
	display: table;
	overflow: hidden;
	background-color: var(--white);
}

.popup-close {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 2rem;
	right: 2rem;
	padding: 1.5rem 1.7rem;
	background-color: var(--grey-alt);
	border-radius: 50%;
	cursor: pointer;
}

.popup-left {
	display: table-cell;
	width: 50%;
	height: 100%;
	vertical-align: middle;
}

.popup-right {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	padding: 3rem 5rem;
}

.popup-img {
	width: 100%;
	overflow: hidden;
}

.popup-img img {
	display: block;
	width: 60rem;
	height: 45rem;
	max-width: 100%;
	border-radius: 1rem;
	object-fit: cover;
}
.popup-img:hover img {
	transform: scale(1.1);
}

.right-content {
	text-align: center;
	width: 90%;
	margin: 0 auto;
}

.right-content h1 {
	font-size: 4rem;
	color: var(--black);
	margin-bottom: 1.6rem;
}

.right-content h1 span {
	color: var(--green);
}

.right-content p {
	font-size: 1.8rem;
	color: var(--grey2);
	margin-bottom: 1.6rem;
}

.popup-form {
	width: 100%;
	padding: 2rem 0;
	text-indent: 1rem;
	margin-bottom: 1.6rem;
	border-radius: 3rem;
	background-color: var(--grey-alt);
	border: none;
}

.popup-form:focus {
	outline: none;
}

.right-content a:link,
.right-content a:visited {
	display: inline-block;
	padding: 1.8rem 5rem;
	border-radius: 3rem;
	font-weight: 700;
	color: var(--white);
	background-color: var(--black);
	border: 1px solid var(--grey2);
	transition: 0.3s;
}

.right-content a:hover {
	background-color: var(--green);
	border: 1px solid var(--grey2);
	color: var(--black);
}

@media only screen and (max-width: 1200px) {
	.right-content {
		width: 100%;
	}

	.right-content h1 {
		font-size: 3.5rem;
		margin-bottom: 1.3rem;
	}
}

@media only screen and (max-width: 998px) {
	.popup-right {
		width: 100%;
	}

	.popup-left {
		display: none;
	}

	.right-content h1 {
		font-size: 5rem;
	}
}

@media only screen and (max-width: 768px) {
	.right-content h1 {
		font-size: 4rem;
	}

	.right-content p {
		font-size: 1.6rem;
	}

	.popup-form {
		width: 90%;
		margin: 0 auto;
		padding: 1.8rem 0;
		margin-bottom: 1.5rem;
	}
}

@media only screen and (max-width: 568px) {
	.popup-right {
		padding: 0 1.6rem;
	}

	.popup-content {
		height: 40rem;
		width: 90%;
		margin: 0 auto;
	}

	.right-content {
		width: 100%;
	}

	.right-content h1 {
		font-size: 3rem;
	}

	.right-content p {
		font-size: 1.4rem;
	}

	.popup-form {
		width: 100%;
		padding: 1.5rem 0;
		margin-bottom: 1.3rem;
	}

	.right-content a:link,
	.right-content a:visited {
		padding: 1.5rem 3rem;
	}

	.popup-close {
		top: 1rem;
		right: 1rem;
		padding: 1.3rem;
	}
}
/* =========  main  ==========*/

/* ======== Subscription promotion ========= */

.sub-box {
	position: relative;
	border-radius: 1rem;
	height: 55rem;
	overflow: hidden;
	z-index: 1;
}

.sub-box img {
	height: 100%;
	width: 100%;
}

.sub-box:hover img {
	transform: scale(1.1);
}

.sub-box .product {
	position: absolute;
	top: 20%;
	left: 5%;
	color: rgb(0, 0, 0);
	z-index: 4;
	margin-left: 33rem;
}

.sub-box .product h2 {
	font-weight: 700;
	margin-bottom: 1rem;
}

.sub-box .product span {
	display: block;
	margin-bottom: 4rem;
}

.sub-box .product a {
	display: inline-block;
	color: var(--white);
	text-transform: uppercase;
	padding: 1rem 1.3rem;
	border: 1px solid var(--white);
	transition: all 300ms linear;
	background-color: #5d6d7e;
	margin-left: 7rem;
	border-radius: 200px;
}

.sub-box:hover a {
	border: 1px solid var(--black);
	background-color: var(--pink);
}

@media only screen and (max-width: 1200px) {
	.sub-box .product {
		margin-left: 13rem;
	}
	.sub-box .product h2 {
		font-size: 2rem;
	}

	.sub-box .product span {
		font-size: 1.5rem;
	}
}
.sub-box img {
	height: 57rem;
	width: 100%;
	/* transform: scale(1); */
	transition: all 500ms linear;
}

@media only screen and (max-width: 768px) {
	.sub-box {
		height: 20rem;
	}
	.sub-box .product {
		top: 20%;
		margin-left: 6rem;
	}
	.sub-box .product h2 {
		font-size: 2rem;
	}
	.sub-box .product span {
		margin: 2px;
		font-size: 1rem;
	}
}

@media only screen and (max-width: 567px) {
	.sub-box {
		height: 20rem;
	}

	.sub-box .product {
		top: 20%;
		margin: 0 auto;
	}
	.sub-box .product h2 {
		font-size: 2rem;
	}
	.sub-box .product span {
		margin: 2px;
		font-size: 1rem;
	}
}

/* ========= How to get ========= */
.section {
	padding: 5rem 0;
}

.category .title {
	font-size: 4rem;
	font-weight: 500;
	text-align: center;
	margin: 5rem;
}

.category-center {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.category-box {
	position: relative;
	border-radius: 0.5rem;
	height: 35rem;
	overflow: hidden;
	z-index: 1;
}
.content {
	padding: 5px;
}

.category-box::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.category-box img {
	height: 27rem;
	width: 100%;
	/* transform: scale(1); */
	transition: all 500ms linear;
}

.category-box:hover img {
	transform: scale(1.1);
}

.category-box .content {
	font-weight: 50;
	margin-bottom: 0.5rem;
}

.subscribe {
	text-align: center;
	width: 90%;
	margin: 5rem;
}

.subscribe a:link,
.subscribe a:visited {
	display: inline-block;
	padding: 1.8rem 5rem;
	border-radius: 3rem;
	font-weight: 700;
	color: var(--white);
	background-color: #5d6d7e;
	border: 1px solid var(--black);
	transition: 0.3s;
}
.subscribe a:hover {
	background-color: var(--pink);
	border: 1px solid var(--pink);
	color: var(--black);
}

@media only screen and (max-width: 1200px) {
	.category-box .content h2 {
		font-size: 2rem;
	}

	.category-box .content span {
		font-size: 1.5rem;
	}
}
.category-box img {
	height: 27rem;
	width: 100%;
	/* transform: scale(1); */
	transition: all 500ms linear;
}

@media only screen and (max-width: 996px) {
	.category-center {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 768px) {
	.category-box {
		height: 35rem;
	}
}

@media only screen and (max-width: 567px) {
	.category-center {
		grid-template-columns: 1fr;
	}
	.category-box {
		height: 35rem;
	}

	.category-box .content {
		top: 20%;
	}
}

/*--join footer section-->*/

.joinpeople {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	background-color:  rgb(11, 22, 32);
}

.joinpeople h1 {
	font-size: 4rem;
	color: var(--black);
	margin-bottom: 1.6rem;
}

.joinpeople h1 span {
	color: rgb(0, 200, 255);
}
.joinpeople a:link,
.joinpeople a:visited {
	display: inline-block;
	padding: 1.8rem 5rem;
	border-radius: 3rem;
	font-weight: 700;
	color: var(--white);
	background-color: #5d6d7e;
	border: 1px solid var(--black);
	transition: 0.3s;
	margin: 2rem;
}

.joinpeople a:hover {
	background-color: var(--pink);
	border: 1px solid var(--pink);
	color: var(--black);
}

@media only screen and (max-width: 1200px) {
	.right-content {
		width: 100%;
	}

	.right-content h1 {
		font-size: 3.5rem;
		margin-bottom: 1.3rem;
	}
}

@media only screen and (max-width: 998px) {
	.popup-right {
		width: 100%;
	}

	.popup-left {
		display: none;
	}

	.right-content h1 {
		font-size: 5rem;
	}
}

@media only screen and (max-width: 768px) {
	.right-content h1 {
		font-size: 4rem;
	}

	.right-content p {
		font-size: 1.6rem;
	}

	.popup-form {
		width: 90%;
		margin: 0 auto;
		padding: 1.8rem 0;
		margin-bottom: 1.5rem;
	}
}

@media only screen and (max-width: 568px) {
	.popup-right {
		padding: 0 1.6rem;
	}

	.popup-content {
		height: 40rem;
		width: 90%;
		margin: 0 auto;
	}

	.right-content {
		width: 100%;
	}

	.right-content h1 {
		font-size: 3rem;
	}

	.right-content p {
		font-size: 1.4rem;
	}

	.popup-form {
		width: 100%;
		padding: 1.5rem 0;
		margin-bottom: 1.3rem;
	}

	.right-content a:link,
	.right-content a:visited {
		padding: 1.5rem 3rem;
	}

	.popup-close {
		top: 1rem;
		right: 1rem;
		padding: 1.3rem;
	}
}

/* ========= Footer ======== */
.footer {
	background-color: var(--black);
	padding: 6rem 1rem;
	line-height: 3rem;
}

.footer-center span {
	margin-right: 1rem;
}

.footer-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	color: var(--white);
}
.logoimage {
	height: 70px;
	/* width: 80px; */
}

.footer-center a:link,
.footer-center a:visited {
	display: block;
	color: var(--grey2);
	font-size: 1.4rem;
	transition: 0.6s;
}

.footer-center a:hover {
	color: var(--pink);
}

.footer-center div {
	color: var(--grey2);
	font-size: 1.4rem;
}

.footer-center h3 {
	font-size: 1.8rem;
	font-weight: 400;
	margin-bottom: 1rem;
}

@media only screen and (max-width: 998px) {
	.footer-container {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 2rem;
	}
}

@media only screen and (max-width: 768px) {
	.footer-container {
		grid-template-columns: 1fr;
		row-gap: 2rem;
	}
}
